@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
}
* body {
  background-color: #080E2F;
}

@media screen and (max-width: 539px) {
  .home_section {
    background-color: #080E2F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_section .home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3ch;
  }
  .home_section .home_content .headshot {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background-color: slategray;
    background-color: #00C6C3;
    color: #080E2F;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2ch 0;
  }
  .home_section .home_content .home_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8ch;
  }
  .home_section .home_content .home_words .name_description {
    display: flex;
    flex-direction: column;
    gap: 0.3ch;
  }
  .home_section .home_content .home_words .name_description .name_name {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .home_section .home_content .home_words .name_description .job_description {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    color: #00C6C3;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5ch;
  }
  .home_section .home_content .home_words .slogan {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  .home_section .home_content .home_words .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    padding: 1ch 6ch;
  }
  .home_section .home_content .home_words .learn_more a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-decoration: none;
  }
  .skills_section {
    background-color: #00313E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .big_circle {
    display: none;
  }
  .skills_section .skill_circles {
    container-type: inline-size;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5ch;
    width: 100%;
  }
  .skills_section .skill_circles .first_six {
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .first_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .first_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .first_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .second_three {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .second_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .second_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .third_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .third_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .third_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .fourth_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .fourth_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .fourth_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 540px) and (max-width: 600px) {
  .home_section {
    background-color: #080E2F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_section .home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3ch;
  }
  .home_section .home_content .headshot {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: slategray;
    background-color: #00C6C3;
    color: #080E2F;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2ch 0;
  }
  .home_section .home_content .home_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8ch;
  }
  .home_section .home_content .home_words .name_description {
    display: flex;
    flex-direction: column;
    gap: 0.3ch;
  }
  .home_section .home_content .home_words .name_description .name_name {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }
  .home_section .home_content .home_words .name_description .job_description {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    color: #00C6C3;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5ch;
  }
  .home_section .home_content .home_words .slogan {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  .home_section .home_content .home_words .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    padding: 1ch 6ch;
  }
  .home_section .home_content .home_words .learn_more a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-decoration: none;
  }
  .skills_section {
    background-color: #00313E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .big_circle {
    display: none;
  }
  .skills_section .skill_circles {
    container-type: inline-size;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5ch;
    width: 100%;
  }
  .skills_section .skill_circles .first_six {
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .first_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .first_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .first_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .second_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .second_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .second_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six {
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .third_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .third_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .third_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .fourth_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .fourth_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .fourth_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .home_section {
    background-color: #080E2F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_section .home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12ch;
  }
  .home_section .home_content .headshot {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: slategray;
    background-color: #00C6C3;
    color: #080E2F;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2ch 0;
  }
  .home_section .home_content .home_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3ch;
  }
  .home_section .home_content .home_words .name_description {
    display: flex;
    flex-direction: column;
    gap: 0.3ch;
  }
  .home_section .home_content .home_words .name_description .name_name {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .home_section .home_content .home_words .name_description .job_description {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    color: #00C6C3;
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5ch;
  }
  .home_section .home_content .home_words .slogan {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  .home_section .home_content .home_words .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    padding: 1ch 5ch;
  }
  .home_section .home_content .home_words .learn_more a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-decoration: none;
  }
  .skills_section {
    background-color: #00313E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .big_circle {
    display: none;
  }
  .skills_section .skill_circles {
    container-type: inline-size;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;
    width: 100%;
  }
  .skills_section .skill_circles .first_six {
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .first_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .first_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .first_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .second_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .second_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .second_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six {
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .third_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .third_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .third_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .fourth_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .fourth_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .fourth_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 819px) {
  .home_section {
    background-color: #080E2F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_section .home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3ch;
  }
  .home_section .home_content .headshot {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: slategray;
    background-color: #00C6C3;
    color: #080E2F;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2ch 0;
  }
  .home_section .home_content .home_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8ch;
  }
  .home_section .home_content .home_words .name_description {
    display: flex;
    flex-direction: column;
    gap: 0.3ch;
  }
  .home_section .home_content .home_words .name_description .name_name {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
  }
  .home_section .home_content .home_words .name_description .job_description {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    color: #00C6C3;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 0.5ch;
  }
  .home_section .home_content .home_words .slogan {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  .home_section .home_content .home_words .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    padding: 1ch 6ch;
  }
  .home_section .home_content .home_words .learn_more a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
  }
  .skills_section {
    background-color: #00313E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .big_circle {
    display: none;
  }
  .skills_section .skill_circles {
    container-type: inline-size;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5ch;
    width: 100%;
  }
  .skills_section .skill_circles .first_six {
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .first_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .first_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .first_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .second_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .first_six .second_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .first_six .second_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six {
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .third_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .third_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .third_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .fourth_three {
    display: flex;
    gap: 0.5ch;
  }
  .skills_section .skill_circles .second_six .fourth_three .back_circle {
    background-color: #00C6C3;
    background-color: #146166;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 3px solid #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills_section .skill_circles .second_six .fourth_three .back_circle .front_circle {
    background-color: #080E2F;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */